- wrap_layout :layout do

  #article-title{ 'data-image' => image_path(current_resource.data.title_image) }
    %h1{ itemprop: "headline" }= current_resource.data.title
  = find_and_preserve do
    %div{ itemprop: "articleBody" }
      = yield
    = disqus
