/* articles */

#article-title,
h1, h2, h3, h4, h5, h6,
strong                    { font-family: $accent-font; }

.main article section h2 span {  // The date on the blog post list
  display: inline-block; 
}

// Portfolio
.main article .portfolio_item {
  height: 6em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin: 0 -5px 1.5em;
  padding: 0 5px;
  h2 {
    line-height: 1;
    margin: 0 -5px;
    padding: 0.2em 5px 0.3em;
    background-color: #f30000;
    background-color: rgba(243,0,0,.5);
    color: $background-color;
  }
  &:hover, &:active, &:focus {
    h2 {
      color: $primary-color;
      background-color: $background-color;
      background-color: rgba(243,243,243,.95);
    }
  }
}

