.sharepoint-tile-settings {
  & * {float: left;}
  float: left;
  margin-top: em(5px);
  margin-bottom: 1em;
  width: 100%;
  fieldset { 
    float: left; 
    width: 100%;
  }
  label {
    float: left;
    &[for$="_InputBgColor"] {
      max-width: 75%;
      margin-right: 5%;
    }
    font-family: $accent-font;
    font-weight: $bold;
  }
  input,
  textarea {
    float: left;
    width: 100%;
  }
  input[type="color"] { width: 20%; }
}

.sharepoint-tile {
  $tile-size: em(144px);
  $tile-text-color: #fff;
  float: left;
  clear: left;
  position: relative;
  overflow: hidden;
  height: $tile-size;
  img { 
    background-color: #aaa;
    height: $tile-size;
  }
  .tile-content {
    position: absolute;
    top: 100px;
    height: $tile-size;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0,0,0, 0.5);
    font-family: 'Segoe UI', sans-serif;
    p {margin: 0;}
    .tile-title {
      color: $tile-text-color;
      margin-top: 0.5em;
    }
    .tile-description {
      color: $tile-text-color;
    }
  }
}

