.sharepoint-tile-settings {
  float: left;
  margin-bottom: 1em;
  width: 100%;
  fieldset { 
    float: left; 
    width: 100%;
  }
  label {
    float: left;
    &[for$="_InputBgColor"] {
      max-width: 75%;
      margin-right: 5%;
    }
    font-family: $accent-font;
    font-weight: $bold;
  }
  input,
  textarea {
    float: left;
    width: 100%;
  }
  input[type="color"] { width: 20%; }
}

.sharepoint-tile {
  float: left;
  clear: left;
  position: relative;
  overflow: hidden;
  p {margin: 0;}
  .tile-content {
    position: absolute;
    top: 100px;
    height: 150px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0,0,0, 0.5);
    font-family: 'Segoe UI', sans-serif;
    .tile-title {
      color: #fff;
      margin-top: 0.5em;
    }
    .tile-description {
      color: #fff;
    }
  }
}

img.sample-tile { 
  float: left; 
  background-color: #aaa;
}
