/* code blocks */
pre {
  background: $background-color + #111;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight { 
  overflow: scroll; 
}

.highlight td {
  padding: 8px 15px;
}

.gl {
  background: $background-color + #0c0c0c;
  border-right: 2px solid $background-color;
  color: $text-color * 3;

  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

pre.lineno { margin: 0px; }

.gutter > pre, 
.code > pre { 
  margin: 0px; 
  border: none;
  background: inherit;
}

div.highlight { 
  background-color: $background-color + #111; 
  @include border-radius(5px);
}

code {
  font-family: $mono-font;
  font-size: 0.9062em;
  background-color: $background-color + #111;
  padding: .125em;
  margin: -.125em 0;
  @include border-radius(5px);
 }

blockquote { 
  color: $text-color * 3; 
  border-top: 1px solid ($background-color - #111);
  border-bottom: 1px solid ($background-color - #111);
  margin: 0;
  padding: 1em;
}

