/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: #{$base-font-size}/#{$base-line-height} Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid $secondary-color;
}

.header-container,
.footer-container,
.main aside {
    background: $primary-color;
}

.title {
    color: white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

// Image replacement. 
//
// Replace element contents with an image by applying/extending/including this 
// class. Make sure to apply the background-image, width, and height properties 
// to the element though.
.ir { 
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

// Hide element
//
// Make sure that this element doesn't appear for presentations and screen 
// readers. Hiding/populating this element should probably be done with javascript.
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide element from browsers
// 
// Hide from browsers, but display for screen readers.
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Hide without affecting layout.
//
// Unlike `display: none`, this will keep the element in the flow.
.invisible {
    visibility: hidden;
}

// Clearfix
//
// For floats. Make a parent fully contain its floated children.
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

