/* header */

.title a {
  &:link    { color: $background-color; }
  &:visited { color: $background-color; }
  &:hover   { color: $background-color; }
  &:focus   { color: $background-color; }
  &:active  { color: $background-color; }
}

.header-container a {
  &:link    { color: $background-color; }
  &:visited { color: $background-color; }
  &:hover, &:focus, &:active   { 
    color: $secondary-color + #333; 
    background-color: $secondary-color + #eee;
    text-decoration: none;
  }
}

/* links */

a {
  text-decoration: none;
  &:link    { color: $primary-color; }
  &:visited { color: $secondary-color; }
  &:hover   { color: #000; }
  &:active  { color: #000; }
}

@media only screen and (min-width: 1140px) {
  /* background */
  .blog article { margin-top: 570px !important; }
  #article-title {
    width: 100%;
    height: 600px;
    padding: 30px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border-bottom: 3px solid rgba(243,0,0,.125);
    h1 { 
      color: $background-color;
      background-color: #f30000;
      background-color: rgba(243,0,0,.5);
      position: relative;
      text-align: center;
      width: 1026px;
      padding-left: 30px;
      padding-right: 30px;
      margin-left: auto;
      margin-right: auto;
      top: 50%;
      bottom: 50%;
      font-size: 4em;
      line-height: 1.4;
      text-shadow: 0 1px 0 rgba(0,0,0,0.5);
         -moz-border-radius: 20px 20px 20px 0;
      -webkit-border-radius: 20px 20px 20px 0;
              border-radius: 20px 20px 20px 0;
       -khtml-border-radius: 20px 20px 20px 0;
    }
  }
  #article-title:after {
    height: 600px;
    content: "";
    position: absolute;
    display: block;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    @include vertical-linear-gradient(rgba(0,0,0,0), 0%, rgba(0,0,0,0.9), 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000000', endColorstr='#e6000000', GradientType-0);
  }

  /* main content wrapper */
  article { 
    padding: 0  1em;
    margin:  0 -1em;
  }
  .blog article + aside { margin-top: 630px; }
  aside { 
       -moz-border-radius: 0 20px 20px 20px;
    -webkit-border-radius: 0 20px 20px 20px;
            border-radius: 0 20px 20px 20px;
     -khtml-border-radius: 0 20px 20px 20px;
    .social_list { 
      float: left;
      list-style: none; 
      display: block; 
      min-height: 24px;
      padding: 0; 
      margin: 0; 
      li { 
        float: left; 
        overflow: hidden; 
        a { float: left; }
      }
    }
  }
}

/* code blocks */
pre {
  border: 1px solid #ddd;
  background: #fff;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

.highlight { 
  overflow: scroll; 
  border: 1px solid #eee;
}

.highlight td {
  padding: 8px 15px;
}

.gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;

  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

pre.lineno { margin: 0px; }

.gutter > pre, 
.code > pre { 
  margin: 0px; 
  border: none;
  background: inherit;
}

div.highlight { 
  background-color: #fff; 
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
   -khtml-border-radius: 5px;
}

code {
  background-color: #fff;
  padding: .125em;
  margin: -.125em 0;
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
   -khtml-border-radius: 5px;
 }

 /* Social icons */

.icon {
  float: left;
  display: block;
  height: 24px;
  width: 24px;
  overflow: hidden;
  margin-left: -50000px;
  padding-right: 50000px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center right;
  &.twitter    { background-image: url('/images/glyphicons/twitter.png'); }
  &.linkedin   { background-image: url('/images/glyphicons/linked_in.png'); }
  &.googleplus { background-image: url('/images/glyphicons/google_plus.png'); }
  &.github     { background-image: url('/images/glyphicons/github.png'); }
  &.foursquare { background-image: url('/images/glyphicons/4square.png'); }
  &.instagram  { background-image: url('/images/glyphicons/instagram.png'); }
  &.flickr     { background-image: url('/images/glyphicons/flickr.png'); }
  &.facebook   { background-image: url('/images/glyphicons/facebook.png'); }
}
