/* ========================================================================
   VARIABLES 
   ======================================================================== */

/* Colors */

$primary-color: #c44;
$secondary-color: #a33;
$tertiary-color: #c9a54e;
$quaternary-color: #185277;
$quinary-color: #31acad;
$background-color: #f3f3f3;
$text-color: #333;

/* Fonts */

$accent-font: "raleway", sans-serif;
$body-font: "prociono", serif;

/* Typography */
  // /* Scale */
  // 0.236em    
  // 0.382em    
  // 0.618em    
  // 1em
  // 1.618em    
  // 2.618em    
  // 4.236em    
  // 6.854em
$base-font-size: 1em; // assume 16px
$base-line-height: 1.5; 
$base-height: $base-font-size * $base-line-height;

/* Grid */
$grid-width: 1000;
$grid-column-numbers: 12;
$grid-column-gutter-width: 20;
$grid-column-width: $grid-width / $grid-column-numbers;

/* ========================================================================
   MIXINS 
   ======================================================================== */

@mixin vertical-linear-gradient( $start-color, $start-opacity, $end-color, $end-opacity ) {
  background: -webkit-gradient(linear, 0% $start-opacity, 0% $end-opacity, from($start-color), to($end-color));         // Safari 4-5, Chrome 1-9
  background: -webkit-linear-gradient(top, $start-color $start-opacity, $end-color $end-opacity);                       // Safari 5.1, Chrome 10+
  background: -moz-linear-gradient(top, $start-color $start-opacity, $end-color $end-opacity);                          // Firefox 3.6+
  background: -ms-linear-gradient(top, $start-color $start-opacity, $end-color $end-opacity);                           // IE 10
  background: -o-linear-gradient(top, $start-color $start-opacity, $end-color $end-opacity);                            // Opera 11.10+
  background: linear-gradient(top, $start-color $start-opacity, $end-color $end-opacity);
}

/* Includes */
@import "normalize.min";                  // normalize browser defaults
@import "main";
@import "pygmentize-github";              // code syntax highlighting
@import "font-awesome";                   // for symbols & icons
@import "style";                          // smartphones in portrait mode
@import "base_header";
@import "media_query/smartphones";        // in landscape mode
@import "media_query/tablets";            // in portrait mode
@import "media_query/desktops";           // & laptops, standard size
@import "media_query/print";              // printed
